* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background: radial-gradient(848px at 10% 20%, rgba(174, 231, 165, 0.9) 0%, rgb(181, 205, 154) 90%);
}

.container {
    background: rgb(168, 181, 169);
    max-width: 800px;
    margin: 60px auto;
    height: 100%;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.3);
}

.header {
    text-align: center;
}

.header h1 {
    margin-bottom: 10px;
}

.header h3 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.cv-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
}

.cv-photo img {
    width: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
}


.left-side {
    flex: 1;
    padding: 30px;
}

.left-side p {
    line-height: 2;
}

h2 {
    background: radial-gradient(848px at 10% 20%, rgba(174, 231, 165, 0.9) 0%, rgb(181, 205, 154) 90%);
    padding: 15px;
    color: white;
    margin: 30px 0;
    font-size: 20px;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
}

.right-side {
    flex: 1;
    padding: 30px;
}


.right-side p {
    line-height:2;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 35px;
}

.rs-logo {
    width: 150px;
}

.footer p {
    font-size: 20px;
}